*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/shutterstock_600118397.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.space{
    display: flex;
    height: 3vh;
}

.inner-container{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.652);
    padding: 30px 100px 30px 100px;
    border-radius: 50px;
    box-shadow: 5px 5px 0px rgba(0, 166, 255, 0.742);
}

#add-button{
    position: relative;
    bottom: 10px;
    font-weight: 900;
    font-size: 35px;
}

.bottom-list{
    display: flex;
    justify-content:flex-start;
    text-align: left;
    overflow: hidden;
}

.list{
    display: flex;
    box-shadow: 5px 5px 0px rgba(0, 166, 255, 0.742);
}

.list,li{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#input-value{
    width: 40vh;
    overflow : auto;
    resize: none;
}
#input-value::-webkit-scrollbar {
    display:none;
    }

#input-value:focus{
    outline: none;
}

li{
    width: 44vh;
    box-shadow: 0px 4px 1px rgba(0, 179, 255, 0.281);
    transition: 0.5s;
    scale: 1s;
}

.show{
    animation: show 0.5s linear;
}

@keyframes show{
    0%{
        transform: rotateY(90deg)
    }
    100%{
        transform: rotateY(0deg);
    }
}

button{
    width: 20px;
    font-weight: 600;
    background-color: white;
}
button:hover{
    color: red;
    cursor: pointer;
}

#input-value, button{
    height: 25px;
    font-size: 20px;
    border: none;
}

ul{
    list-style:none;
    box-shadow: 1px 1px 1px black;
}

li:hover{
    transition: 0.5s;
    scale: 0.99;
}

.li{
    float: right;
}

.checkmark{
    float: right;
}

p{
    width: 450px;
    overflow-wrap: break-word;
}

.lined{
    text-decoration: line-through;
}

#created-date{
    color: red;
    
}
span{
    font-weight: 900;
}

.fa-solid{
    color: green;
}

i::before{
    background:transparent;
}

h1{
    padding-bottom: 10px;
}

h1, h2{
color: white;
}